@{
    ViewBag.Title = "Domů";
}

<div class="container d-flex flex-column justify-content-center h-100" id="main">
    <div class="d-flex justify-content-start">
        <div class="d-flex flex-column bg-white rounded-5 p-5">
            <h2 class="text-center mb-0">Cestovní kancelář</h2>
            <h1 class="text-center text-primary mb-3">PEPA</h1>
            <a class="btn btn-primary fs-5" asp-controller="Zajezdy" asp-action="Zajezdy">Zájezdy</a>
        </div>
    </div>
</div>

<style>
    nav {
        background-color: #ffffff;
    }

    body {
        height: 100vh;
        background-image: url("image/main.jpg");
    }
    
    main {
        height: calc(100% - 4em);
    }
</style>

@* @section Scripts *@
@* { *@
@*     <script> *@
@*     const specialOfferCarousel = document.querySelector('#specialOfferCarousel') *@
@*      *@
@*     const carousel = new bootstrap.Carousel(specialOfferCarousel, { *@
@*       interval: 2000, *@
@*       touch: false *@
@*     }) *@
@*   </script> *@
@* } *@