@using System.Security.Claims
@{
    ViewBag.Title = "Profil";
}

<p>Profil</p>

<span class="marker marker--secondary">User.Identity.IsAuthenticated:</span> @User.Identity!.IsAuthenticated
<span class="marker marker--secondary">User.HasClaim(ClaimTypes.Role, "admin"):</span> @User.HasClaim(ClaimTypes.Role, "admin")
<span class="marker marker--secondary">User.HasClaim(ClaimTypes.Name, "admin"):</span> @User.HasClaim(ClaimTypes.Name, "admin")