@using app.Managers
@model ZajezdNakupModel

<div class="zajezd-nakup-container">
    <form asp-controller="Zajezdy" asp-action="NakupPost" method="post" asp-route-id="@ViewContext.RouteData.Values["id"]" enctype="application/x-www-form-urlencoded">
        <div class="d-flex flex-column gap-2">
            <div class="form-group">
                <label asp-for="Termin" class="control-label"></label>
                <select class="form-select" onchange="changePokoje(this.value)" asp-for="Termin" asp-items="new SelectList(ViewBag.Terminy, nameof(TerminModel.Id), nameof(TerminModel.OdDo))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Pokoj" class="control-label"></label>
                <select class="form-select" id="Pokoj" onchange="changePocetOsob()" asp-for="Pokoj"></select>
            </div>
            <div class="form-group">
                <label asp-for="PocetOsob" class="control-label"></label>
                <input id="PocetOsob" min="1" max="1" value="1" asp-for="PocetOsob" class="form-control" type="number"/>
            </div>
            <div class="form-group">
                <label asp-for="Pojisteni" class="control-label"></label><span> (osoba/den)</span>
                <select class="form-select" asp-for="Pojisteni" asp-items="new SelectList(ViewBag.Pojisteni, nameof(PojisteniModel.Id), nameof(PojisteniModel.Nazev))"></select>
            </div>
            <div class="form-group text-end mt-3">
                <p class="lh-1 mb-2">
                    @if (ViewBag.CenaPredSlevou != null)
                    {
                        <span class="text-decoration-line-through text">@ViewBag.CenaPredSlevou Kč</span> <br>
                    }
                    <span class="fs-3 fw-bold">@ViewBag.CenaZaOsobu Kč</span> <br>
                    <span>za osobu</span>
                </p>
                @if (User.IsInRole(Role.Zakaznik))
                {
                    <input type="submit" value="Koupit" class="btn btn-primary w-100 fs-6"/>
                }
                else
                {
                    <p class="text-primary text-center">Nákup zájezdu pouze pro registrované zákazníky</p>
                }
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    const terminy = @Html.Raw(Json.Serialize(ViewBag.Terminy))
    const pokojSelect = document.querySelector("#Pokoj")
    const pocetOsobInput = document.querySelector("#PocetOsob")
    
    function changePokoje(value) {
        for (const el in pokojSelect.options) { pokojSelect.options.remove(0) }
        
        terminy.find((el) => el.id === value).pokoje.forEach((el) => {
            const option = '<option pocetMist=' + el.pocetMist + ' value="' + el.id + '">' + el.nazev + ' - ' + el.pocetMist + ' osoby</option>'
            pokojSelect.innerHTML += option
        });
        
        changePocetOsob()
    }
    
    function changePocetOsob() {
        const pocetMist = pokojSelect.options[pokojSelect.selectedIndex].getAttribute("pocetMist")
        pocetOsobInput.setAttribute("max", pocetMist)
        
        if (pocetOsobInput.value > pocetMist)
            pocetOsobInput.value = pocetMist
    }
    
    window.onload = changePokoje(terminy[0].id)
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}