@{
    ViewBag.Title = "Admin panel";
}

<a class="nav-link" asp-controller="Admin" asp-action="Logy" asp-route-typLogu="zamestnanec">Log zaměstnanců</a>
<a class="nav-link" asp-controller="Admin" asp-action="Logy" asp-route-typLogu="zakaznik">Log zákazníků</a>
<a class="nav-link" asp-controller="Admin" asp-action="Uzivatele">Uživatelé</a>