@model IEnumerable<app.Models.Sprava.PokojModel>

@{
    ViewBag.Title = "Pokoje";
}

<div class="container-md mt-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">Počet míst</th>
            <th scope="col"><a class="btn btn-primary" asp-action="PokojEdit" asp-route-id="0">Přidat</a></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazev</td>
                <td>@item.PocetMist</td>
                <td>
                    <a asp-action="PokojEdit" asp-route-id="@item.PokojId">Upravit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>