@model IEnumerable<app.Models.Sprava.StravaModel>

@{
    ViewBag.Title = "Stravy";
}

<div class="container-md mt-3">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Název</th>
            <th scope="col">
                <a class="btn btn-primary" asp-action="StravaEdit" asp-route-id="0">Přidat</a>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nazev</td>
                <td>
                    <a asp-action="StravaEdit" asp-route-id="@item.StravaId">Upravit</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>